<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<ul>
	<li><a href="myDetail">내정보 보기</a></li>
	<li><a href="memberUpdate">내정보 수정</a></li>
	<li><a href="memberDrop">회원탈퇴</a></li>
	<li><a href="/">홈</a></li>
</ul>
<form action="memberPwModify" method="post" id="frm">
<table border=1 width=400 align="center">
<tr>
	<td>현재 비밀번호</td><td><input type="password" name="memberPw"  required="required" /></td></tr>

<tr><td colspan="2" align="center"><input type="submit" value="확인" />

<div style="color:red">[[${errPw}]]</div>
</table>
</form>
</body>
</html>