<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<a href="empRegist">직원 등록</a><br />
<a href="/">메인화면</a>
<table border=1 width=700>
<form action="employeeList" method="post">		<!-- 회원조회하기 -->
	<!-- -->
	<tr><td colspan="5">검색 :
			<input type="search" name="searchWord" size="60" th:value="${searchWord}" />
			<input type="submit" value="검색" />
		</td></tr>
</form>
<tr><td>직원번호</td><td>직원아이디</td><td>직원이름</td><td>등록일</td><td>연락처</td>
	<td><input type="checkbox" id="checkBoxs"/>
			<input type="submit" value="삭제" /> 
	</td></tr>
	
	<tr th:each="dto : ${list}"><!-- 직원상세보기를 해보겠습니다. -->
		<td><a th:href="|employeeDetail?empNum=${dto.empNum}|">[[${dto.empNum}]]</a></td>
		<td><a th:href="@{employeeDetail(empNum=${dto.empNum})}|">[[${dto.empId}]]</a></td>
		<td>[[${dto.empName}]]</td>
		<td>[[${#dates.format(dto.empRegiDate, 'yyyy-MM-dd')}]]</td>
		<td>[[${dto.empPhone}]]</td>
	</tr>
</table>
</body>
</html>