<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
회원수정 페이지입니다.<br />
<form action="memberModify" method="post" th:object="${memberCommand}"><!-- dto -->

<!-- memberPw와 memberPwCon의 유효성 검사 때문에 오류 발생 임의의 값을 줘서 오류를 거름 -->
<input type="hidden" name="memberPw" value="!111Qqqq" />
<input type="hidden" name="memberPwCon" value="!111Qqqq" />

<table width=600 border=1 align="center">
<tr><td>회원번호</td>
	<td><input type="text" name="memberNum" th:value="${memberCommand.memberNum}" readonly="readonly"/></td></tr>

<tr><td>이름</td>
	<td><input type="text" name="memberName" th:value="${memberCommand.memberName}" />
	<br /><span style="color:red" th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}"></span></td></tr>
		
<tr><td>아이디</td>
	<td><input type="text" name="memberId" th:value="${memberCommand.memberId}" />
	<br /><span  style="color:red" th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}"></span></td></tr>

<tr><td>주소</td>
	<td><input type="text" name="memberAddr" th:value="${memberCommand.memberAddr}" 
											id="sample4_roadAddress"
											onclick="execDaumPostcode();"	/>
	<br /><span style="color:red" th:if="${#fields.hasErrors('memberAddr')}" th:errors="*{memberAddr}"></span></td></tr>

<tr><td>상세주소</td>
	<td><input type="text" name="memberAddrDetail" th:value="${memberCommand.memberAddrDetail}" /></td></tr>

<tr><td>우편번호</td>
	<td><input type="text" name="memberPost" th:value="${memberCommand.memberPost}"
											id="sample4_postcode" /></td></tr>

<tr><td>연락처1</td>
	<td><input type="tel" name="memberPhone1" th:value="${memberCommand.memberPhone1}" />
	<br /><span style="color:red" th:if="${#fields.hasErrors('memberPhone1')}" th:errors="*{memberPhone1}"></span></td></tr>

<tr><td>연락처2</td>
	<td><input type="tel" name="memberPhone2" th:value="${memberCommand.memberPhone2}" />
		<span style="color:red" th:if="${#fields.hasErrors('memberPhone2')}"   th:errors="*{memberPhone2}"></span></td></tr>

<tr><td>성별</td>
	<td><input type="radio" name="gender" value="M" th:checked="${memberCommand.gender == 'M'}" />남자
		<input type="radio" name="gender" value="F" th:checked="${memberCommand.gender == 'F'}" />여자</td></tr>

<tr><td>등록일</td>
	<td><input type="Date" name=memberRegist th:value="${#dates.format(memberCommand.memberRegist, 'yyyy-MM-dd')}" readonly="readonly"/></td></tr>

<tr><td>생년월일</td>
	<td><input type="Date" name="memberBirth" th:value="${#dates.format(memberCommand.memberBirth, 'yyyy-MM-dd')}" />
	<br /><span style="color:red" th:if="${#fields.hasErrors('memberBirth')}"  th:errors="*{memberBirth}"></span></td></tr>

<tr><td>이메일</td>
	<td><input type="text" name=memberEmail th:value="${memberCommand.memberEmail}" />
	<br /><span id="emailCheck"></span>
		  <span style="color:red" th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}"></span></td></tr>
	
<tr><td>Point</td>
	<td><input type="number" name="point" th:value="${memberCommand.point}" min="0" /></td></tr>

<tr><td colspan="2"><input type="submit" value="회원수정 완료" /></td></tr>
<tr><td colspan="2"><input type="button" value="회원목록" onclick="javascript:location.href='memberList.mem'" ></td></tr>
</table>
</form>
</body>
</html>